<section class="jumbotron">
    <div class="container">
        <h1><%- theme.jumbotron.slogan %></h1>
        <div id="jumbotron-meta-info">
            <%- partial('_partial/jumbotron-info') %>
        </div>
    </div>
</section>